<!DOCTYPE html>
<html>
<head>
  <title>Create Document</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Makale Oluştur</h1>
<form action="/document" method="post">
  <label for="header">Document Header:</label><br>
  <input type="text" id="header" name="header" required><br><br>
  <label for="content">Document Content:</label><br>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
  <label>Select document type:</label>
  <br>
  <label>
    <input type="radio" name="category" value="science"> Science
  </label><br>
  <label>
    <input type="radio" name="category" value="history"> History
  </label><br>
  <label>
    <input type="radio" name="category" value="sport"> Sport
  </label><br>
  <label>
    <input type="radio" name="category" value="daily life"> Daily Life
  </label><br>
  <label>
    <input type="radio" name="category" value="politics"> Politics
  </label><br>
  <label>
    <input type="radio" name="category" value="art"> Art
  </label><br>
  <label>
    <input type="radio" name="category" value="technology"> Technology
  </label><br>
  <input type="submit" value="Create Document">
</form>
<br>
<div class="button-container">
  <a href="/documents" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin: 0 10px; transition: background-color 0.3s ease-in-out;">
    ANA SAYFA
  </a>
</div>

</body>
</html>
